Content/** filter=lfs diff=lfs merge=lfs -text
Plugins/NVIDIA/**/Content/** filter=lfs diff=lfs merge=lfs -text
Plugins/NVIDIA/**/Binaries/ThirdParty/** filter=lfs diff=lfs merge=lfs -text
Plugins/NVIDIA/**/*.lib filter=lfs diff=lfs merge=lfs -text
